@media screen and (max-width: 425px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0px;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main {
        padding: 6vw;
    }

    p {
        margin-bottom: 2vh;
    }

    input {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
        color: gray;
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }


    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main {
        padding: 4vw;
    }

    #text {
        padding: 2vw;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    form div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 0.8em;
    }

    form div h3 {
        display: block;
        padding-bottom: 1vh;
    }

    input {
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    .botoes{
        align-items: flex-end;
        display: flex;
    }
 
    .sexo {
        border: solid 1px rgb(207, 102, 16);
        padding: 2vh 2vw;
        border-radius: 5px;
    }

    #nome_sexo {
        padding-left: 2vh;
    }

    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    #text {
        padding: 2vw;
    }

    input {
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    form div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 0.8em;
    }

    form div h3 {
        display: block;
        padding-bottom: 1vh;
    }



    .sexo {
        border: solid 1px rgb(207, 102, 16);
        padding: 2vh 2vw;
        border-radius: 5px;
    }

    #nome_sexo {
        padding-left: 2vh;
    }

    .imagem1_contato {
        width: 100%;
    }

    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

}

@media screen and (min-width: 1024px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main {
        padding: 0 10vw 10vw;
        height: 140vh;
        border: box;
    }

    #text {
        padding: 2vw;
    }

    input {
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        
    }

    form div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 0.8em;
    }

    form div h3 {
        display: block;
        padding-bottom: 1vh;
    }



    .sexo {
        border: solid 1px rgb(207, 102, 16);
        padding: 2vh 2vw;
        border-radius: 5px;
    }

    #nome_sexo {
        padding-left: 2vh;
    }

    .imagem1_contato {
        width: 100%;
    }

    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

}

