@media screen and (max-width: 425px){
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main{
        padding: 6vw;
    }

    p{
        margin-bottom: 2vh;
    }

    input{
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 3px rgb(207, 102, 16);
    }

    select{
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover{
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 3px rgb(207, 102, 16);
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover{
        border: solid 3px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }


    /* FOOTER */
    footer {
        color: gray;
        background-color: black;
        height: 45vh;
        text-align: center;
        padding-top: 2vh;
    }

    footer p {
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .link_rodape {
        padding-bottom: 2vh;
    }

    .copyright {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-top: solid 1px gray;
        letter-spacing: 5px;
        margin-bottom: 5vh;

    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main{
        padding: 4vw;
    }

    /* FOOTER */

    footer {
        color: gray;
        background-color: black;
        height: 31vh;
        text-align: center;
        padding-top: 2vh;
    }

    footer p {
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .link_rodape {
        padding-bottom: 2vh;
    }

    .copyright {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-top: solid 1px gray;
        letter-spacing: 5px;
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    /* FOOTER */
    footer {
        color: gray;
        background-color: black;
        height: 31vh;
        text-align: center;
        padding-top: 2vh;
    }

    footer p {
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .link_rodape {
        padding-bottom: 2vh;
    }

    .imagem1_contato {
        width: 100%;
    }

    .copyright {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-top: solid 1px gray;
        letter-spacing: 5px;
        margin-bottom: 5vh;
    }
}