@font-face {
    font-family: 'Unbounded';
    src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', Arial, Helvetica, sans-serif;
}


header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    max-width: 10vw;
    min-width: 2.5em;
}

.align-center {
    display: flex;
    justify-content: center;
}

.tigerimg {
    width: 90vw;
}
.min-width {
    width: 80vw;
    text-align: center;
}
.content {
    padding: 5vh 0;
}

.bottom-line {
    text-transform: uppercase;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
    border-bottom: solid 3px rgb(207, 102, 16);
}

.button-box {
    border: solid 3px rgb(207, 102, 16);
    margin: 5vh 0;
    padding: 2vh 2vw;
    text-transform: uppercase;
    color: rgb(207, 102, 16);
}

.button-box span {
    font-weight: bold;
}

.button-box:hover{
    background-color: rgb(207, 102, 16);
    transition: 300ms;
    color: white;
    
}

.area-autores {
    width: 100vw;
    height: 80vh;
    background-color: rgb(22, 21, 21);
    color: white;
    
}

.big-box{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.div-img {
    height: 100%;
    width: auto;
    border: 1px solid rgb(207, 102, 16);
}

.div-img img {
    height: 100%;
}

.autor-box{
    display: flex;
    justify-content:center;
    margin: 1rem;
    height: 30%;
    font-size: 0.8em;
}

.autor-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}

.autor-text h4 {
    border-bottom: 1px solid rgb(207, 102, 16);
    padding-bottom: 1vh;
    text-transform: uppercase;
}

footer {
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 425px) {
    /* CSS para dispositivos pequenos aqui */
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    /* CSS para dispositivos de tamanho médio aqui */
}

@media only screen and (min-width: 768px) {
    /* CSS para dispositivos grandes aqui */
}
  
  
  
