@font-face {
    font-family: 'Unbounded';
    src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    touch-action: auto;
}

a:link  {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    
    position: sticky;
    top: 0;
}

.transition {
    transition: 1000ms background-color;
}

.branco{
    background-color: white;
}

.line {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

.line:hover {
    width: max-content;
}

#menu-dropdown {
    position: absolute;
    background-color: white;
    width: 20vw;
    height: 40vh;
    z-index: 1;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prod-img{
    width: 30vw;
    border-radius: 10px;
}

.fundo-dropdown {
    border: black 1px solid;
    height: 100vh;
    background-color: white;
}

.hidden {
    display: none;
}

.menu-option{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: normal;
    transition:300ms letter-spacing;
}

.menu-option:hover {
    letter-spacing: 0.2em;
    transition: 300ms letter-spacing;
}

.hero {
    background-color: white;
    display: flex;
    justify-content: center;
}

.bg-box{
    min-height: 60vh;
    max-height: 300vh;
    height: auto;

    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.rel-box {
    border-radius: 6px;

    margin: 2em;

    width:80%;

    height: 80%;

    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: 1em;
}

.rel-box p {
    padding: 1em 0.5em 0.5em 0.5em;
}

.bottomline {
    border-bottom: 3px solid rgb(207, 102, 16);
    width: 80%;
    text-align: center;
    padding-bottom: 0.5em;
}

.info {
    padding: 1em;
    margin: 1em;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(22,22,22,255);
    color: white;
    font-size: 0.9em;

    display: flex;
    justify-content: space-between;
}

.info span {
    font-size: 1.8em;
}

.buy-box {
    border: 3px solid rgb(207, 102, 16);
    color:  rgb(207, 102, 16);
    border-radius: 6px;

    width: auto;
    text-align: center;

    transition: 300ms;
    padding: 1em 2.6em;
}

.buy-box:hover {
    letter-spacing: 2px;
    transition: 300ms;
    cursor: pointer;

    border: 3px solid white;
    color:  white;
    background-color: rgb(207, 102, 16);
}

#lola {
    color: gray;
    font-size: 0.8em;
}

footer {
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    /* CSS para dispositivos pequenos aqui */
    #menu-dropdown {
        z-index: 1;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100vw;
        height: 900%;
        padding-bottom: 10vh;
        padding-top: 10vh;
        transition: 1s background-color;
    }

    .info {
        padding: 1em;
        margin: 1em;
        width: 100%;
        border-radius: 6px;
        background-color: rgba(22,22,22,255);
        color: white;
        font-size: 0.9em;
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .info span {
        margin: 1em;
        font-size: 1.2em;
    }

    .prod-img {
        width: 60vw;
    }
    .buy-box {
        margin: 1em;
    }
}

@media only screen and (min-width: 768px) {
    /* CSS para dispositivos grandes aqui */
    .hero img {
        max-width: 43em;
    }
}  
  
  
  
