a:link  {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    
    position: sticky;
    top: 0;
}

.transition {
    transition: 1000ms background-color;
}

.branco{
    background-color: white;
}

.line {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

.line:hover {
    width: max-content;
}

#menu-dropdown {
    position: absolute;
    background-color: white;
    width: 20vw;
    height: 40vh;
    z-index: 1;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.fundo-dropdown {
    border: black 1px solid;
    height: 100vh;
    background-color: white;
}

.hidden {
    display: none;
}

.menu-option{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: normal;
    transition:300ms letter-spacing;
}

.menu-option:hover {
    letter-spacing: 0.2em;
    transition: 300ms letter-spacing;
}

#lola {
    color: gray;
    font-size: 0.8em;
}

@media screen and (max-width: 425px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0px;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    #menu-dropdown {
        z-index: 1;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100vw;
        height: 900%;
        padding-bottom: 10vh;
        padding-top: 10vh;
        transition: 1s background-color;
    }

    main {
        padding: 6vw;
    }

    p {
        margin-bottom: 2vh;
    }

    input {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
        color: gray;
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }


    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main {
        padding: 4vw;
    }

    #text {
        padding: 2vw;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    form div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 0.8em;
    }

    form div h3 {
        display: block;
        padding-bottom: 1vh;
    }

    input {
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    .botoes{
        align-items: flex-end;
        display: flex;
    }
 
    .sexo {
        border: solid 1px rgb(207, 102, 16);
        padding: 2vh 2vw;
        border-radius: 5px;
    }

    #nome_sexo {
        padding-left: 2vh;
    }

    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    #text {
        padding: 2vw;
    }

    input {
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    form div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 0.8em;
    }

    form div h3 {
        display: block;
        padding-bottom: 1vh;
    }



    .sexo {
        border: solid 1px rgb(207, 102, 16);
        padding: 2vh 2vw;
        border-radius: 5px;
    }

    #nome_sexo {
        padding-left: 2vh;
    }

    .imagem1_contato {
        width: 100%;
    }

    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

}

@media screen and (min-width: 1024px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    main {
        padding: 0 10vw 10vw;
        height: 140vh;
        border: box;
    }

    #text {
        padding: 2vw;
    }

    input {
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input:hover {
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1px rgb(207, 102, 16);
    }

    select:hover {
        margin-bottom: 2vh;
        border-radius: 5px;
        padding: 2vh;
        border: solid 1.5px rgb(207, 102, 16);
    }

    select option{
        color: rgb(207, 102, 16);
    }

    select option:hover{
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
        border-radius: 5px;
    }

    textarea:hover {
        border: solid 1.5px rgb(207, 102, 16);
        border-radius: 5px;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
        border-radius: 5px;
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        
    }

    form div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 0.8em;
    }

    form div h3 {
        display: block;
        padding-bottom: 1vh;
    }



    .sexo {
        border: solid 1px rgb(207, 102, 16);
        padding: 2vh 2vw;
        border-radius: 5px;
    }

    #nome_sexo {
        padding-left: 2vh;
    }

    .imagem1_contato {
        width: 100%;
    }

    /* FOOTER */
    footer {
        background-color: black;
        height: 10vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

}

