@media screen and (max-width: 425px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    .titulo {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2vh;
        padding: 2vh 2vw;
        border-bottom: solid 1px gray;
    }

    .formulario {
        margin: auto;
        margin-bottom: 2vh;
    }

    .form_text p {
        padding: 4vw;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    input {
        border: solid 1px rgb(207, 102, 16);
    }

    textarea {
        border: solid 1px rgb(207, 102, 16);
    }

    .imagem1_contato {
        width: 100%;
    }

    footer {
        color: gray;
        background-color: black;
        height: 35vh;
        text-align: center;
        padding-top: 2vh;
    }

    footer p {
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .link_rodape {
        padding-bottom: 2vh;
    }

    .copyright {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-top: solid 1px gray;
        letter-spacing: 5px;
        margin-bottom: 5vh;

    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    .titulo {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2vh;
        padding: 2vh 2vw;
        border-bottom: solid 1px gray;
    }

    .form_text {
        display: flex;
    }

    .formulario {
        display: flex;
        margin: 4vh;
    }

    .form_text p {
        margin: 4vh;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    input {
        border: solid 1px rgb(207, 102, 16);
    }

    .imagem1_contato {
        width: 100%;
    }

    textarea {
        width: 50vw;
        border: solid 1px rgb(207, 102, 16);
    }

    footer {
        color: gray;
        background-color: black;
        height: 31vh;
        text-align: center;
        padding-top: 2vh;
    }

    footer p {
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .link_rodape {
        padding-bottom: 2vh;
    }

    .copyright {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-top: solid 1px gray;
        letter-spacing: 5px;
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 769px) {

    @font-face {
        font-family: 'Unbounded';
        src: url(../SRC/Unbounded/Unbounded-VariableFont_wght.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: 'Unbounded', Arial, Helvetica, sans-serif;
    }

    .titulo {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2vh;
        padding: 2vh 2vw;
        border-bottom: solid 1px gray;
    }

    .form_text {
        display: flex;
    }

    .formulario {
        display: flex;
        margin: 4vh;
    }

    .form_text p {
        margin: 4vh;
    }

    button {
        border: solid 1px rgb(207, 102, 16);
        padding: 1vh 1vw;
        text-transform: uppercase;
        color: rgb(207, 102, 16);
    }

    button:hover {
        background-color: rgb(207, 102, 16);
        color: white;
    }

    textarea {
        width: 45vw;
        height: 30vh;
        border: solid 1px rgb(207, 102, 16);
    }

    input {
        border: solid 1px rgb(207, 102, 16);
    }

    footer {
        color: gray;
        background-color: black;
        height: 31vh;
        text-align: center;
        padding-top: 2vh;
    }

    footer p {
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    .link_rodape {
        padding-bottom: 2vh;
    }

    .imagem1_contato {
        width: 100%;
    }

    .copyright {
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-top: solid 1px gray;
        letter-spacing: 5px;
        margin-bottom: 5vh;
    }
}